n8n/gentlyyonder-buffer-autopost.workflow.json
{
  "name": "Gently Yonder — Pinterest auto-post via Buffer (GraphQL API)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 9,15,21 * * *" }
          ]
        }
      },
      "id": "schedule",
      "name": "3x daily (09/15/21)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "url": "https://gentlyyonder.com/data/pins.json",
        "options": {}
      },
      "id": "getpins",
      "name": "Get pins.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Cycle through the pin list one per run (no state file needed), then build\n// the Buffer GraphQL createPost body. Buffer's new API lives at\n// https://api.buffer.com and takes { query, variables }.\nconst data = $input.first().json;\nconst pins = (data && data.pins) || [];\nif (!pins.length) { throw new Error('pins.json empty'); }\n\nconst store = $getWorkflowStaticData('global');\nlet idx = typeof store.idx === 'number' ? store.idx : 0;\nif (idx >= pins.length) idx = 0;\nconst pin = pins[idx];\nstore.idx = idx + 1;\n\n// Pinterest description = title + description + link (kept under ~480 chars).\n// The article link goes in the text as a fallback destination; once the first\n// post succeeds we can move it to the Pinterest destination-URL field.\nconst text = (pin.title + '\\n\\n' + pin.description + '\\n\\n' + pin.link).slice(0, 480);\n\nconst query = 'mutation Create($input: CreatePostInput!) { createPost(input: $input) { __typename ... on PostActionSuccess { post { id } } ... on MutationError { message } } }';\n\nconst graphqlBody = {\n  query,\n  variables: {\n    input: {\n      text,\n      channelId: $env.BUFFER_CHANNEL_ID,\n      schedulingType: 'automatic',\n      mode: 'addToQueue',\n      assets: [ { image: { url: pin.image } } ]\n    }\n  }\n};\n\nreturn [{ json: { graphqlBody, slug: pin.slug } }];"
      },
      "id": "pick",
      "name": "Pick next pin + build query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.BUFFER_ACCESS_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.graphqlBody) }}",
        "options": {}
      },
      "id": "buffer",
      "name": "createPost (Buffer GraphQL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    }
  ],
  "connections": {
    "3x daily (09/15/21)": { "main": [[{ "node": "Get pins.json", "type": "main", "index": 0 }]] },
    "Get pins.json": { "main": [[{ "node": "Pick next pin + build query", "type": "main", "index": 0 }]] },
    "Pick next pin + build query": { "main": [[{ "node": "createPost (Buffer GraphQL)", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "notes": "Buffer NEW GraphQL API (public beta). Endpoint: https://api.buffer.com, auth: 'Authorization: Bearer <personal key>', body: {query, variables}. Set TWO env vars in n8n: BUFFER_ACCESS_TOKEN (your personal key) and BUFFER_CHANNEL_ID (your Pinterest channel id). Get the channel id by POSTing to https://api.buffer.com with these two queries: (1) query { account { organizations { id name } } }  -> copy the organization id; (2) query { channels(input:{organizationId:\"ORG_ID\"}) { id name service } } -> copy the id where service is 'pinterest'. Test with one manual run before enabling the schedule. Pinterest destination URL: for now the article link is appended to the post text; if createPost returns a MutationError about a required destination/link, we add the Pinterest metadata field."
  }
}
