n8n/gentlyyonder-buffer-autopost.workflow.json
{
  "name": "Gently Yonder — Pinterest auto-post via Buffer (GraphQL API)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,15,21 * * *"
            }
          ]
        }
      },
      "id": "schedule",
      "name": "3x daily (09/15/21)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://gentlyyonder.com/data/pins.json",
        "options": {}
      },
      "id": "getpins",
      "name": "Get pins.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Cycle through the pin list one per run, then queue the pin to every\n// configured Buffer channel. buffer_get_channel.py prints channel ids AND\n// Pinterest board ids. Leave any id as PASTE_... and that channel is skipped.\nconst CHANNELS = [\n  {\n    name: 'pinterest',\n    id: '6a47b7055ab6d2f1069dea9f',\n    // Pinterest requires a board per pin (boardServiceId). Keys must match\n    // the \"board\" field in pins.json; unmapped names use defaultBoard.\n    boards: {\n      'Asia Travel: Japan, Vietnam, Korea & More': '609956411972753421',\n      'Travel Tech: eSIM, Insurance & Booking': '609956411972752122',\n      'Packing Light & Capsule Wardrobe': '609956411972752122',\n      'Cultural Travel & Etiquette': '609956411972753420',\n      'Travel Prep Checklists': '609956411972752122',\n      'Country Profiles & City Guides': '609956411972753421',\n    },\n    defaultBoard: '609956411972753421',\n  },\n];\n\nconst data = $input.first().json;\nconst pins = (data && data.pins) || [];\nif (!pins.length) { throw new Error('pins.json empty'); }\n\nconst store = $getWorkflowStaticData('global');\nlet idx = typeof store.idx === 'number' ? store.idx : 0;\nif (idx >= pins.length) idx = 0;\nconst pin = pins[idx];\nstore.idx = idx + 1;\n\nconst hour = new Date().getHours();\nconst query = 'mutation Create($input: CreatePostInput!) { createPost(input: $input) { __typename ... on PostActionSuccess { post { id } } ... on MutationError { message } } }';\n\n// Per-channel text. Pinterest keeps the pin description. X gets a native,\n// LINK-FREE value post: external links cost 30-50% reach on X (2026) and\n// non-Premium link posts get near-zero distribution. Threads WITH the link\n// in Reply 1 are posted manually from marketing/repurposed/ bundles; this\n// automated queue builds brand, bookmarks, and replies instead.\nconst topic = (pin.title || '')\n  .replace(/\\((\\d{4})\\)/, '')\n  .split(/[:?]/)[0]\n  .replace(/\\bA Guide for \\d{4}\\b/i, '')\n  .trim();\nconst descClean = (pin.description || '')\n  .replace(/Save this before your next trip[^.]*\\.\\s*/i, '')\n  .replace(/Full guide linked\\.?/i, '')\n  .replace(/Read the full guide\\.?/i, '')\n  .trim();\nconst firstTwo = descClean.split('. ').slice(0, 2).join('. ').replace(/\\.?\\s*$/, '.');\nconst xHooks = [\n  'Nobody tells you this about ' + topic.toLowerCase() + ':',\n  'Before your next trip - 30 seconds on ' + topic.toLowerCase() + ':',\n  topic + ' - the short version:',\n];\nconst xClosers = [\n  'What would you add?',\n  'Bookmark this for your next trip.',\n  'Disagree? Tell me why.',\n];\nconst texts = {\n  pinterest: (pin.description || pin.title).slice(0, 480),\n  x: (xHooks[idx % 3] + '\\n\\n' + firstTwo + '\\n\\n' + xClosers[idx % 3]).slice(0, 275),\n};\n\nconst items = [];\nfor (const ch of CHANNELS) {\n  if (!ch.id || ch.id.startsWith('PASTE_')) continue;\n  if (ch.morningOnly && hour >= 12) continue;\n\n  const input = {\n    text: texts[ch.name] || texts.pinterest,\n    channelId: ch.id,\n    schedulingType: 'automatic',\n    mode: 'addToQueue',\n  };\n  // text-first on X; the 2:3 pin graphic is Pinterest-shaped anyway\n  if (ch.name !== 'x') input.assets = [ { image: { url: pin.image } } ];\n\n  if (ch.name === 'pinterest') {\n    const boardServiceId = (ch.boards && ch.boards[pin.board]) || ch.defaultBoard;\n    if (!boardServiceId || boardServiceId.startsWith('PASTE_')) {\n      throw new Error('Pinterest board id missing for \"' + pin.board + '\" - fill boards/defaultBoard in CHANNELS.');\n    }\n    input.metadata = { pinterest: {\n      title: pin.title.slice(0, 100),\n      url: pin.link,\n      boardServiceId: boardServiceId,\n    } };\n  }\n\n  items.push({ json: { channel: ch.name, slug: pin.slug, graphqlBody: { query, variables: { input } } } });\n}\n\nif (!items.length) { throw new Error('No channels configured - paste your channel ids into CHANNELS at the top of this node.'); }\nreturn items;"
      },
      "id": "pick",
      "name": "Pick next pin + build query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.buffer.com",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.graphqlBody) }}",
        "options": {}
      },
      "id": "buffer",
      "name": "createPost (Buffer GraphQL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        300
      ]
    }
  ],
  "connections": {
    "3x daily (09/15/21)": {
      "main": [
        [
          {
            "node": "Get pins.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pins.json": {
      "main": [
        [
          {
            "node": "Pick next pin + build query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick next pin + build query": {
      "main": [
        [
          {
            "node": "createPost (Buffer GraphQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "notes": "Buffer NEW GraphQL API (public beta). Endpoint: https://api.buffer.com, body: {query, variables}. Setup: (1) HTTP node auth = Header Auth credential, Name 'Authorization', Value 'Bearer <personal key>'. (2) Run buffer_get_channel.py to print channel ids AND Pinterest board ids (boardServiceId), then fill CHANNELS in the Code node: channel id, one board id per board name, defaultBoard, and the X channel id once X is connected in Buffer. Pinterest REQUIRES metadata.pinterest.boardServiceId - posts queued without it fail at publish time with 'no Pinterest board was selected'. The pin title and destination link now travel in metadata.pinterest (title/url); the post text is the description. X posts on all three daily runs, same pin as Pinterest. Channels left as PASTE_ are skipped. Test one manual run before re-enabling the schedule."
  }
}